# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml

# Environments
.venv/
venv/
env/

# Docs
docs/_build/

# Notebooks
.ipynb_checkpoints/

# Editors / OS
.vscode/
.idea/
.DS_Store
